// $palabraElegida: valor;

//FONDOS PRINCIPALES
    //MAIN
    $grandienteFondo: linear-gradient(0deg, #1d3658 0%, #b6353b 100%);

    //FOOTER
    $colorFondoFooter: #023e8a;

//BOTONES
    //FONDO BOTONES
    $fondoBotonMain: #fefae0;
    $fondoBotonMainHover: #283618;

    //SOMBRA BOTONES
    $sombraBoton: #bc6b2571;

    //BORDES BOTONES
    $bordeBotonMain: white;
    $bordeBotonMainHover: white;

//COLOR TIPOGRAFIA
$colorTipoMain: #283618;
$colorTipoFooter: white;

$sombraBox: #2836188d;
$fondoTexto:#faedcda7;

//MAPS
$coloresNav:(
    botonNav:#023e8a,
    hoverNav:#fefae036,
    tipoNav: white,
    bordeNav:white,
    activeNav:#0077b6,
)