// $palabraElegida: valor;

//FONDOS PRINCIPALES
    //MAIN
    $grandienteFondo: linear-gradient(180deg, rgba(250, 237, 205, 1) 50%, rgba(204, 213, 174, 1) 100%);

    //FOOTER
    $colorFondoFooter: #fefae0;

//BOTONES
    //FONDO BOTONES
    $fondoBotonMain: #fefae0;
    $fondoBotonMainHover: #283618;

    //SOMBRA BOTONES
    $sombraBoton: #bc6b2571;

    //BORDES BOTONES
    $bordeBotonMain: #283618;
    $bordeBotonMainHover: #fefae0;

//COLOR TIPOGRAFIA
$colorTipoMain: #283618;
$colorTipoFooter: #283618;

$sombraBox: #2836188d;
$fondoTexto:#faedcda7;

//MAPS
$coloresNav:(
    botonNav:#fefae0,
    hoverNav:#fefae036,
    tipoNav:#283618,
    bordeNav:#d4a373,
    activeNav:#d4a373,
)