/* --- Index--- */
.grilla {  display: grid;
 @include displayColumn (grid, $separacionGridCol);
  grid-template-rows: $separacionGridRow;
  grid-template-areas:
    "nav header header header"
    "nav primeraSeccion primeraSeccion primeraSeccion"
    "nav primeraSeccion primeraSeccion primeraSeccion"
    "nav primeraSeccion primeraSeccion primeraSeccion"
    "footer primeraSeccion primeraSeccion primeraSeccion";
    width: 100%;
    height: 100%;
    background: $grandienteFondo;
    font-family: $Poppins;
}