.header {
    grid-area: header;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #faedcd;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.592);

    .separador{
        box-shadow: 1px 2px 6px ;

    }
}
