.header {
    grid-area: header;
    background-size: cover;
    border-radius: 1rem;
    height: 16.5vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #faedcd;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.592);
    background-image: url(../img/fondo-madera-rustica.jpg);
}
