    .seccionTrabajos {
        grid-area: primeraSeccion;
        background-image: url(../img/cocina-angulo.jpeg);
        background-size: cover;
        margin-top: .5rem;
        padding-bottom: 5rem;

        h2 {
            margin-top: 2rem;
            text-align: center;
            font-size: 2rem;
            color: $colorTipoMain;
        }



        .fotos {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 2% auto;
            margin-top: 5%;

            img {
                max-width:250px;
                min-width: 50px;
                margin: 4% auto;
                padding-bottom: 4rem;

                &:hover{
                    transform: scale(1.3);
                    transition: 4s;
                }
            }
        }
    }